/* SITE SPECIFIC STYLING ********************************************************************************************************************* */ 
html {font-size:15px; color:#676767;}
body {margin:0; padding:0; font-size:100%; font-family: "Source sans pro",Helvetica,Arial,sans-serif;  font-weight: lighter; color:#676767;}/* Set the standard font-size on all browsers - 16px */
/* HEADER  + NAV */
header {}
.navbar {}
.nav {}
.nav ul {}
.nav ul li {float:left; display:inline; font-size:16px; }
.nav > li > a {color:#FFFFFF; padding: 10px 12px; position: relative;}

.nav > li > a:hover, .nav > li > a:focus {background:#231F20; color:#FFFFFF; transition: background 0.8s ease 0s;}
/* FOOTER  */
footer {}
footer ul li {list-style:none;}
/* BOOTSTRAP OVERIDES **************************************************************************************************************************** */
.container {position:relative;}
.row {}
.navbar {border:none;} /* overides bottom border of 1px  */
.navbar-toggle {background:none;  border: 1px solid #231F20;}
.icon-bar {background:;}

/* Text */
p {font-size: 1.0em; line-height:35px;}
.primary {color:#353535;} /* Primary text for the text colour */
.secondary {color:#231F20;} /* Secondary text for the text colour */
.green {color:#00A750;}

/* Background */
.BGprimary {background:#353535;} /* Primary background colours */
.BGsecondary {background:#231F20;}  /* Secondary background colours */
/* Primary button */
.btn-primary {padding:15px; margin:0px 5px; background:#FFFFFF; color:#353535;  border:#353535 solid 1px;  border-radius:0px; transition: background 0.8s ease 0s;}
.btn-primary:hover  {background:#353535; color: #FFFFFF;  border:#353535 solid 1px;  border-radius:0px; }
a .btn-primary:hover {text-decoration:none;} 
/* Primary button inverse  */
.btn-primary-inverse {padding:15px; margin:0px 5px; background:#353535; color:#FFFFFF;  border:#FFFFFF solid 1px;  border-radius:0px; transition: background 0.8s ease 0s;}
.btn-primary-inverse:hover  {background:#FFFFFF; color:#353535;  border:/*PRIMARY */ solid 1px;  border-radius:0px; }
a .btn-primary-inverse:hover {text-decoration:none;} 
/* Secondary button */
.btn-secondary {padding:15px; margin:0px 5px; background:#FFFFFF; color:#231F20;  border:#231F20 solid 1px;  border-radius:0px; transition: background 0.8s ease 0s;}
.btn-secondary:hover  {background:#231F20; color: #FFFFFF;  border:#231F20 solid 1px;  border-radius:0px; }
a.btn-secondary:hover {text-decoration:none;} 
/* Secondary button inverse */
.btn-secondary-inverse {padding:15px; margin:0px 5px; background:#231F20; color:#FFFFFF;  border:#FFFFFF solid 1px;  border-radius:0px; transition: background 0.8s ease 0s;}
.btn-secondary-inverse:hover  {background:#FFFFFF; color:#231F20;  border:#231F20 solid 1px;  border-radius:0px; }
a.btn-secondary-inverse:hover {text-decoration:none;} 
/* Page elements */
h1,h2,h3,h4,h5,h6,small {color:#353535;}
p {font-size: 1.0em; line-height:35px;}
/* Links */
a {color:#353535;}
a:hover {color:#231F20;}
/* Input */
.input {width:100%; float:left; clear:both; border:none; padding:10px;}
/* Border */
.border {border: 1px solid#231F20v;}
.border-top {border-top: 1px solid #231F20;}
.border-left {border-left: 1px solid #231F20;}
.border-bottom {border-bottom: 1px solid #231F20;}
.border-right {border-right: 1px solid #231F20;}


/* CUSTOM CLASSES/ID **************************************************************************************************************************** 
************************************************************************************************************************************************* */
/* HEADER HOME */
.header {display:flex; position: relative; width: 100%; height: 100%; background: url("../media/everestestatessnew.co.uk/images/bg.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;}
/* HEADER RESULTS */
.normal-bg {z-index:-1; display: table-caption; position:fixed; top:0; width: 100%; height: 100%; background: url("../media/everestestatessnew.co.uk/images/bg.jpg") no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;}
/* Adv search block */
.adv-search label {color:#FFFFFF;}
.adv-search select {background: none repeat scroll 0 0 #ffffff; border: 1px solid #eeeeee; padding: 10px; width: 100%; height:auto;}


/* Accreditation */
#bottom-bg {position:relative; width: 100%; height: 100%; background: url("../media/everestestatessnew.co.uk/images/bg2.jpg") no-repeat fixed center center / cover  rgba(0, 0, 0, 0); -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;}


/* ERROR */
.error { color:white; border: none; border-radius: 0px; box-shadow: none; padding: 0px; position: absolute; z-index:99; min-height:0px;}




